$ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$ff-comic: 'Comic Sans MS', cursive, sans-serif;
$ff-dyslexic: OpenDyslexic, sans-serif;

$primary-purple:rgba(59,73,223,1);

$bg-hover:rgb(235, 235, 253);

$button-purple-hover:rgb(59,31,185);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 243);
}

.navbar{
    background-color:white ;
}

.collapse{
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(250,250,250);
        border-radius: .5rem;
    }
    &__h2{
        color: $primary-purple;
    }
}

.nav{
    &__search-inp{
        border: 1px solid #666;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        height: 2.5rem;
        width: 25rem;
    }
    &__search-inp:focus{
        border: 1px solid $primary-purple;
    }
    &__search-mag{
        border: 1px solid #666;
        border-left: none;
        height: 2.5rem;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    &__search-mag:hover{
        background-color: $bg-hover;
    }
    &__social-logo{
        color: rgb(56,56,56);
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
    }
    &__info{
        color: #575757;
    }
    
}

.navbar-toggler{
    border: none;
    color: #262626;
    width: 3.5rem;
    height: 2.5rem;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.cont-link{
    text-decoration: none;
    color: black;
}

.cont-link:hover{
    background-color: $bg-hover;
    text-decoration:underline;
}

.container{
    &__btn{
    color: $primary-purple;
    border: 1px solid $primary-purple;
    width: 100;
    }
    &__btn:hover{
        background-color: $primary-purple;
        color: white;
        text-decoration:underline;
    }
    &__log{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.aside{
    margin-top: 5rem;
    background-color: rgb(243, 243, 243);
    &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250,250,250);
    border-radius: .5rem;}
    
    &__h2{
        color: $primary-purple;
        text-decoration: none;
    }
    &__h2:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    &__btn{
        color: $primary-purple;
        border: 1px solid $primary-purple;
        width: 90%;
    }
    &__btn:hover{
        background-color: $primary-purple;
        color: white;
        text-decoration:underline;
    }
    &__log{
        width: 90%;
        text-align: center;
        justify-content: center;
        padding-top: 1rem;
        height: 3rem;
        margin-bottom: 1rem;
        border-radius: .5rem;
        margin-top: .5rem;
        text-decoration: none;
        color: gray;
    }
    &__log:hover{
        background-color: rgb(232, 227, 248);
        color: $primary-purple;
        text-decoration: underline;
    }
    &__list{
        list-style-type: none;
     }
    &__item{
        text-decoration: none;
        width: 100%;
        border-radius: .5rem;
    }
    &__item:hover{
        text-decoration: underline;
        color:$primary-purple;
        background-color: $bg-hover;
        cursor: pointer;
    }
    &__link{
        text-decoration: none;
        color: black;
        }
    &__link:hover{
        color: $primary-purple;
        }
    &__social{
        width:100%;
    }
    &__social-cont:hover{
        background-color: $bg-hover;
        color: $primary-purple;
        cursor: pointer;
    }
    &__social-logo{
        color: rgb(56,56,56);
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
    }
    &__social-logo:hover{
        color: $primary-purple;
        background-color: $bg-hover;
    }
    &__hashtag{
        width: 100%;
        margin-bottom: 1rem;
    }
    &__link-hs{
        width: 100%;
        border-radius: .5rem;
        text-decoration: none;
        color:black;
    }
    &__link-hs:hover{
        background-color: $bg-hover;
        color: $primary-purple;
        text-decoration: underline;

    }
    &__info-p{
        color: #575757;
    }
}

.aside-2{
    margin-top: 4rem;
    background-color: rgb(243, 243, 243);
}

.card{
    background-color: rgb(250, 250, 250);
    &__img{
        border-radius: .5rem;
    }
    &__img:hover{
        cursor: pointer;
    }
    &__text{
    font-family: $ff-sans-serif;
    font-size: 1.5rem;
    color: $primary-purple;
    text-decoration: none;
    }
    &__text:hover{
        cursor: pointer;
    }
    &__link{
        text-decoration: none;
        color: black;
    }
    &__link:hover{
        color:$primary-purple;
        background-color: white;
    }
    &__btn{
        color: white;
        border: 1px solid $primary-purple;
        background-color: $primary-purple;
        width: 100%;
    }
    &__btn:hover{
        background-color: rgb(57,31,185);
        color: black;
    }
    &__btn2{
        color: black;
        border: 1px solid rgb(214,214,215);
        background-color: rgb(214,214,215);
        width: 100%;
    }
    &__btn2:hover{
        background-color: rgb(189,189,189);
    }
}

